a{
	text-decoration: none;
}

.page_accueil{
	margin: 0px;
	padding: 0px;
	width : 100% ;
	height: 100vh;
	background-color: #99cffc ;
}

.page_accueil_section_accueil{
	width: 100%;
	height: 100%;
	background-image: url(fondprincipal.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.page_accueil_section_accueil_ul {
	background-color: #99cffc;
	list-style: none;
	margin : 0;
}

.page_accueil_section_accueil_li{
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial;
	font-size: 16px ;

	margin: 10px 10px 10px 10px;
	background-color: #ffffff;
	border: 5px ridge #75bffd;
	border-radius: 10px;
	color : #1b96fc ;
	transition-duration: 0.3s;
}

.page_accueil_section_accueil_li:hover{
	color : white;
	background-color: #99cffc;

}


.page_accueil_section_accueil_sous_section_1_titre_citations{
	background-color : rgba(110, 251, 104, 0.6);
	transition-duration: 0.4s;
}

.page_accueil_section_accueil_sous_section_1_titre_citations:hover{
	background-color : rgba(110, 251, 104, 0.8);
}

.page_accueil_section_accueil_titre{
	font-size : 50px ;
	text-align: center;
	margin-top: 200px;
	color: white; ;
	text-shadow: black 0.1em 0.1em 0.2em
}

.page_accueil_section_accueil_citations{
	font-size : 25px ;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 3px;
	color: white; 
	text-shadow: black 0.1em 0.1em 0.2em
}

.page_accueil_all_sections{
	background-color: white;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 3px;
}

.box {
  display: flex;
  align-items: stretch;
}
   

.page_accueil_section_RE_resume{
	font-family: Arial;
	padding-left: 10px;
}

.page_accueil_section_RE_image{
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 10px;
}


.page_accueil_section_RE{
	background-color: #eaff92;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 3px;
}
.page_accueil_section_citoyens{
	background-color: #92a3ff;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 3px;
}

.page_accueil_section_pb{
	background-color: #ff9292;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 3px;
}

.page_accueil_section_RE_titre, .page_accueil_section_accueil_citoyens_titre, .page_accueil_section_pb_titre{
	font-size : 40px ;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	color: black; 
	text-shadow: black 0.05em 0.05em 0.1em
}
















.page_accueil_footer{
	background-color: #373737;
}






.page_RE_section_accueil{
	width: 100%;
	height: 100%;
	background-image: url(fondRE.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}